:root {
  --r-primary : #35304B;
  --r-background  : #FAFBFC;
  --r-font  : #1E1E26;
  --r-font2   : #FAFBFC;/*var(--r-primary);*/
  --r-icons : var(--r-primary);
  --r-focus   : #253568;
  --r-border        : var(--r-primary);
}
