:root {
  --r-primary : #35304B;
  --r-background  : #FEFEFE;
  --r-font  : #1E1E26;
  --r-font2   : var(--r-font);
  --r-icons : var(--r-primary);
  --r-focus   : #253568;
  --r-border        : var(--r-primary);
}
